<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" /><!-- DB 조회결과 snake_case -> camelCase 변환 -->
	</settings>

	<typeAliases>
		<!-- CS DTO -->
		<typeAlias type="com.multi.seoulsoul.cs.model.dto.CsAnswerDTO" alias="csAnswerDTO"></typeAlias>
		<typeAlias type="com.multi.seoulsoul.cs.model.dto.CsCategoryDTO" alias="csCategoryDTO"></typeAlias>
		<typeAlias type="com.multi.seoulsoul.cs.model.dto.CsQuestionDTO" alias="csQuestionDTO"></typeAlias>
		<typeAlias type="com.multi.seoulsoul.cs.model.dto.CsQuestionFileDTO" alias="csQuestionFileDTO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<!-- CS Mapper -->
		<mapper resource="mappers/csMapper.xml" />
	</mappers>
	
</configuration>
