<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="achieveMapper">

	<insert id="insertAchieveLoca" parameterType="achieveDTO">
		insert into ACH_LOCA
		values (null, #{locationCode}, #{maxCount}, #{title}, null, null)
	</insert>
	
	<insert id="insertAchieveCate" parameterType="achieveDTO">
		insert into ACH_CATE
		values (null, #{categoryCode}, #{maxCount}, #{title}, null, null)
	</insert>
	
	<select id="selectAchieveLoca" resultType="achieveDTO">
		select * from ACH_LOCA
	</select>
	
	<select id="selectAchieveCate" resultType="achieveDTO">
		select * from ACH_CATE
	</select>
	
</mapper>