<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soulLogMapper">

	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.SoulLogDTO" id="soulLogResultMap">
			
		<!-- DB PK 컬럼 -->
		<id property="soulLogNo" column="soul_log_no"/>
		
		<!-- DB 일반 컬럼 -->
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="views" column="views"/>
		<result property="createdDate" column="created_date"/>
		<result property="modifiedDate" column="modified_date"/>
		<result property="likesCount" column="likes_count"/>
		<result property="repliesCount" column="replies_count"/>
		<result property="viewerLike" column="viewer_like"/>
		
		<!-- 1 대 1 관계 -->
		<association property="location" resultMap="locationResultMap"/>
		<association property="category" resultMap="categoryResultMap"/>
		<association property="writer" resultMap="writerResultMap"/>
		
		<!-- 1 대 다 관계 -->
		<collection property="files" resultMap="filesResultMap"/>
		<collection property="likes" resultMap="likesResultMap"/>
		<collection property="replies" resultMap="repliesResultMap"/>
		
	</resultMap>
		
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.LocationDTO" id="locationResultMap">

		<id property="locationCode" column="location_code"/>
		<result property="locationName" column="location_name"/>
		
	</resultMap>
		
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.CategoryDTO" id="categoryResultMap">

		<id property="categoryCode" column="category_code"/>
		<result property="categoryName" column="category_name"/>
		
	</resultMap>
		
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.WriterDTO" id="writerResultMap">

		<id property="userNo" column="writer"/>
		<result property="nickname" column="nickname"/>
		
	</resultMap>
		
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.FilesDTO" id="filesResultMap">
		
		<id property="fileNo" column="file_no"/>
		<result property="soulLogNo" column="file_soul_log_no"/>
		<result property="originalName" column="original_name"/>
		<result property="savedName" column="saved_name"/>
		    
	</resultMap>
		
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.LikesDTO" id="likesResultMap">
		
		<id property="userNo" column="like_user_no"/>
		<id property="soulLogNo" column="like_soul_log_no"/>
		<result property="likedDate" column="liked_date"/>
		    
	</resultMap>
	
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.RepliesDTO" id="repliesResultMap">
		
		<id property="replyNo" column="reply_no"/>
		<result property="soulLogNo" column="reply_soul_log_no"/>
		<result property="content" column="reply_content"/>
		<result property="createdDate" column="reply_created_date"/>
		<result property="modifiedDate" column="reply_modified_date"/>
		
		<association property="writer" resultMap="replyWriterResultMap"/>
		    
	</resultMap>
	
	<resultMap type="com.multi.seoulsoul.soulLog.model.dto.ReplyWriterDTO" id="replyWriterResultMap">

		<id property="userNo" column="reply_writer"/>
		<result property="nickname" column="reply_nickname"/>
		
	</resultMap>

	
	<select id="selectSoulLogCount" resultType="Integer">
		SELECT COUNT(*) soulLogCount FROM SL_BOARD
	</select>
	

	<select id="selectSoulLogList" resultMap="soulLogResultMap" parameterType="com.multi.seoulsoul.soulLog.model.dto.PageDTO">
		SELECT
			A.soul_log_no, 
			A.title, 
			A.views, 
			B.location_name, 
			C.category_name, 
			(SELECT COUNT(*) FROM SL_LIKE D WHERE D.soul_log_no = A.soul_log_no) AS likes_count, 
			(SELECT COUNT(*) FROM SL_REPLY E WHERE E.soul_log_no = A.soul_log_no) AS replies_count, 
			(SELECT F.saved_name FROM SL_FILES F WHERE F.soul_log_no = A.soul_log_no ORDER BY F.file_no LIMIT 1) AS saved_name 
			FROM SL_BOARD A 
			LEFT JOIN LOCATION B ON A.location_code = B.location_code 
			LEFT JOIN SL_CATEGORY C ON A.category_code = C.category_code 
			ORDER BY A.soul_log_no DESC 
   			LIMIT #{startIndex}, #{pageCount}
	</select>
	
	
	<select id="selectLocationList" resultMap="locationResultMap">
		SELECT
			A.location_code, 
			A.location_name
		FROM LOCATION A
		ORDER BY A.location_code ASC
	</select>
	
	
	<select id="selectCategoryList" resultMap="categoryResultMap">
		SELECT
			A.category_code, 
			A.category_name
		FROM SL_CATEGORY A
		ORDER BY A.category_code ASC
	</select>
	
	
	<insert id="insertSoulLog" parameterType="com.multi.seoulsoul.soulLog.model.dto.SoulLogDTO" useGeneratedKeys="true" keyProperty="soulLogNo">
        INSERT INTO SL_BOARD
        	(location_code, category_code, title, content, writer) 
        VALUES
	        (
	        #{ location.locationCode }, 
	        #{ category.categoryCode }, 
	        #{ title }, 
	        #{ content }, 
	        #{ writer.userNo }
	        )
	</insert>
	
	
	<insert id="insertSoulLogFile" parameterType="com.multi.seoulsoul.soulLog.model.dto.FilesDTO">
        INSERT INTO SL_FILES
        	(soul_log_no, original_name, saved_name) 
        VALUES
	        (
	        #{ soulLogNo }, 
	        #{ originalName }, 
	        #{ savedName }
	        )
	</insert>
	
	
	<select id="soulLogDetail" resultMap="soulLogResultMap" parameterType="com.multi.seoulsoul.soulLog.model.dto.DetailRequestDTO">
		SELECT
			A.soul_log_no, 
			A.location_code, 
			A.category_code, 
			A.title, 
			A.content, 
			A.writer, 
			(SELECT nickname FROM USERS G WHERE A.writer = G.user_no) AS nickname, 
			A.views, 
			A.created_date,
			B.location_name, 
			C.category_name, 
			E.reply_no, 
			E.soul_log_no AS reply_soul_log_no, 
			E.content AS reply_content, 
			E.writer AS reply_writer, 
			E.created_date AS reply_created_date, 
			(SELECT nickname FROM USERS G WHERE E.writer = G.user_no) AS reply_nickname, 
			(SELECT COUNT(*) FROM SL_LIKE D WHERE D.soul_log_no = A.soul_log_no) AS likes_count, 
			(SELECT COUNT(*) FROM SL_LIKE D WHERE D.soul_log_no = A.soul_log_no AND D.user_no = #{ loginUserNo }) AS viewer_like, 
			(SELECT COUNT(*) FROM SL_REPLY E WHERE E.soul_log_no = A.soul_log_no) AS replies_count, 
			F.file_no,
			F.soul_log_no AS file_soul_log_no, 
			F.original_name,  
			F.saved_name
			FROM SL_BOARD A 
			LEFT JOIN LOCATION B ON A.location_code = B.location_code 
			LEFT JOIN SL_CATEGORY C ON A.category_code = C.category_code 
			LEFT JOIN SL_REPLY E ON A.soul_log_no = E.soul_log_no
			LEFT JOIN SL_FILES F ON A.soul_log_no = F.soul_log_no
			WHERE A.soul_log_no = #{ soulLogNo }
	</select>
	
	
	<update id="addViews" parameterType="int">
		UPDATE SL_BOARD
		SET views = views+1
		WHERE soul_log_no = #{ soulLogNo }
	</update>
	
	
	<insert id="insertSoulLogReply" parameterType="com.multi.seoulsoul.soulLog.model.dto.RepliesDTO">
        INSERT INTO SL_REPLY
        	(soul_log_no, content, writer) 
        VALUES
	        (
	        #{ soulLogNo }, 
	        #{ content }, 
	        #{ writer.userNo }
	        )
	</insert>
	
	
	<delete id="deleteSoulLog" parameterType="int">
		DELETE FROM SL_BOARD
		WHERE soul_log_no = #{ soulLogNo }
	</delete>
	
	
	<delete id="deleteSoulLogReply" parameterType="int">
		DELETE FROM SL_REPLY
		WHERE reply_no = #{ replyNo }
	</delete>
	
	
	<select id="updateDetail" resultMap="soulLogResultMap" parameterType="int">
		SELECT
			A.soul_log_no, 
			A.location_code, 
			A.category_code, 
			A.title, 
			A.content, 
			A.writer, 
			(SELECT nickname FROM USERS G WHERE A.writer = G.user_no) AS nickname, 
			A.views, 
			A.created_date,
			B.location_name, 
			C.category_name, 
			E.reply_no, 
			E.soul_log_no AS reply_soul_log_no, 
			E.content AS reply_content, 
			E.writer AS reply_writer, 
			E.created_date AS reply_created_date, 
			(SELECT nickname FROM USERS G WHERE E.writer = G.user_no) AS reply_nickname, 
			(SELECT COUNT(*) FROM SL_LIKE D WHERE D.soul_log_no = A.soul_log_no) AS likes_count, 
			(SELECT COUNT(*) FROM SL_REPLY E WHERE E.soul_log_no = A.soul_log_no) AS replies_count, 
			F.file_no,
			F.soul_log_no AS file_soul_log_no, 
			F.original_name,  
			F.saved_name
			FROM SL_BOARD A 
			LEFT JOIN LOCATION B ON A.location_code = B.location_code 
			LEFT JOIN SL_CATEGORY C ON A.category_code = C.category_code 
			LEFT JOIN SL_REPLY E ON A.soul_log_no = E.soul_log_no
			LEFT JOIN SL_FILES F ON A.soul_log_no = F.soul_log_no
			WHERE A.soul_log_no = #{ soulLogNo }
	</select>

	

</mapper>
